[Unit]
Description=Monitoring Camera - CPU, RAM, NPU, and Camera Monitor
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/example_user/apps/device-monitor/main.py
WorkingDirectory=/home/example_user/apps/device-monitor
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
